<!-- <nav class="coop-c-skip-nav">
    <ul class="coop-c-skip-nav__list">
        <li><a accesskey="c" href="#main" title="Skip to main content" class="coop-c-skip-nav__link"> Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation" class="coop-c-skip-nav__link">Skip to navigation</a></li>
    </ul>
</nav> -->
<div class="coop-l-wrap">
    <div class="coop-l-row">
        <div class="coop-l-column coop-l-large-12 coop-l-medium-12 coop-l-small-12">
            <div class="coop-c-notification coop-c-notification--alert coop-u-margin-resp-t-32-16" role="status"> 
                <h3 class="coop-c-notification__heading">This is not a real Co-op website</h3> 
                <p class="coop-c-notification__p">
                    This is a fake site we use to teach accessibility.
                    <a href="/index.html" class="coop-c-notification__link">See the instructions</a>
                </p> 
            </div>
        </div>
    </div>
</div>
<header class="coop-l-wrap coop-u-margin-resp-t-32-16 coop-u-margin-resp-b-32-16">
    <a class="coop-logo" aria-label="Homepage" href="/">
        {% include logo.html %}
    </a>
</header>

