
@import "css-foundations/dist/foundations.css";

/* Components */
@import "component-skipnav/dist/skipnav.css";
@import "component-card--product/dist/card--product.css";
@import "component-notification/dist/notification.css";
@import "component-notification--alert/dist/notification--alert.css";
@import "component-search/dist/component.css";
@import "component-squircles/dist/squircles.css";
@import "component-tags/dist/tags.css";
@import "shared-component--signpost/dist/signpost.css";
@import "shared-component--editorialcard/dist/editorialCard.css";
@import "shared-component--featurecard/dist/featureCard.css";
@import "shared-component--hero/dist/hero.css";
@import "shared-component--membership/dist/membership.css";
@import "shared-component--offers/dist/offers.css";



.coop-logo path {
    fill: #00b1e7;
    fill: var(--color-brand);
}

.ds-demo-block {
    border: 1px solid var(--color-grey-dark);
    background: var(--color-grey-mid);
}

@media (min-width: 81.25em) {
    .coop-c-hero__inner {
        padding: 3rem 2rem 0;
    }
}

.coop-c-editorialcard__image--fit {
    padding: 20px 105px;
    background: var(--color-white);
}

.coop-l-row {
    display: flex;
}

.coop-c-editorialcard,
.coop-c-editorialcard__link,
.coop-c-editorialcard__inner,
.coop-c-editorialcard__content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.coop-form__small {
    width: 160px;
}

.coop-form__medium {
    width: 280px; 
}

ul {
    list-style: none; /* Remove default bullets */
  }

  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--color-text); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  
  ul .red-bullet::before {
    color: #D12430; /* Changes the color */
  }

  .orange-bullet {
    color: #F8642C; /* Change the color */
  }

  .small-bullet {
    font-size: 12px;    
  }

  .coop-btn--small {
      padding: 2px;
  }  

  .coop-btn--small:focus {
    outline: none;
  }

  .coop-c-form-choice__input:focus + .coop-c-form-choice__label::before {
    outline: 2px solid #eb5f1e;
  } 

  #content {
    overflow: hidden;
    min-height: 0;
    height: 0;
    -webkit-transition: background .1s linear 0s;
    transition: all .1s linear 0s;
  }

  #content.is--open {
    min-height: 100%;
    height: auto;
    background: #ffffff;
    animation: blinkingBackground .5s ease-in;
  }

  @keyframes blinkingBackground{
    0%	{ background-color: #FFFFFF;}
    25%	{ background-color: #ef0a1a;}
    50%	{ background-color: #FFFFFF;}
    75%	{ background-color: #ef0a1a;}
    100%{ background-color: #FFFFFF;}
}